<div *ngIf="user">
  <h1>Profile</h1>

  <ul class="list-group">
    <li class="list-group-item">Username: {{ user.username }}</li>
    <li class="list-group-item">Email: {{ user.email }}</li>
  </ul>
</div>
