<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['']">Stocksboard</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav me-auto">
        <a
          *ngIf="authService.loggedIn()"
          class="nav-link"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="['profile']"
          >Profile</a
        >
        <a
          *ngIf="authService.loggedIn()"
          class="nav-link"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="['dashboard']"
          >Dashboard</a
        >
      </div>
      <div class="navbar-nav">
        <a
          *ngIf="!authService.loggedIn()"
          class="nav-link"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="['login']"
          >Login</a
        >
        <a
          *ngIf="!authService.loggedIn()"
          class="nav-link"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="['register']"
          >Register</a
        >
        <a
          *ngIf="authService.loggedIn()"
          class="nav-link"
          href="#"
          (click)="onLogoutClick()"
          >Logout</a
        >
      </div>
    </div>
  </div>
</nav>
