<h2>Login</h2>

<form (ngSubmit)="onLoginSubmit()">
  <div class="form-group">
    <label class="form-label">Email</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="email"
      name="email"
      value="{{ email }}"
    />
  </div>
  <div class="form-group">
    <label class="form-label">Password</label>
    <input
      type="password"
      name="password"
      class="form-control"
      [(ngModel)]="password"
    />
  </div>

  <input type="submit" class="btn btn-primary mt-2" value="Submit" />
</form>
