<app-navbar></app-navbar>

<div class="container">
  <flash-messages
    style="position: absolute; right: 20px; top: 70px; z-index: 10000"
  ></flash-messages>

  <router-outlet></router-outlet>
</div>
