<div *ngIf="user">
  <h1>Hi {{ user.name }}</h1>

  <table class="table table-striped">
    <thead></thead>
    <tbody>
      <tr>
        <td>ID</td>
        <td>{{ user._id }}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{ user.name }}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{ user.email }}</td>
      </tr>
    </tbody>
  </table>
</div>
