<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Frontend for something...</h1>
  <p class="lead">Still working on it...</p>
  <hr class="my-4" />
  <a
    class="btn btn-primary btn-md me-2"
    href="#"
    role="button"
    [routerLink]="['/login']"
    >Login</a
  >
  <a
    class="btn btn-secondary btn-md"
    href="#"
    role="button"
    [routerLink]="['/register']"
    >Register</a
  >
</div>
