<a [routerLink]="['/dashboard']">Back to Dashboard...</a>

<h1 class="mt-3">
  {{ symbol }}: <span *ngIf="stock">{{ stock.longName }}</span>
</h1>

<div *ngIf="!stock; else stockDetailsTemplate" class="alert alert-info">
  Loading...
</div>

<ng-template #stockDetailsTemplate>
  <div *ngIf="stock">
    <table class="table table-striped">
      <thead></thead>
      <tbody>
        <tr *ngIf="stock.fullExchangeName">
          <td>Exchange</td>
          <td>{{ stock.fullExchangeName }}</td>
        </tr>
        <tr *ngIf="stock.marketCap">
          <td>Market cap</td>
          <td>
            {{ (stock.marketCap / 1000 / 1000 / 1000).toFixed(0) }} billion
            {{ stock.currency }}
          </td>
        </tr>
        <tr *ngIf="stock.dividendDate">
          <td>Next dividend payment</td>
          <td>{{ stock.dividendDate.date.substring(0, 10) }}</td>
        </tr>
        <tr *ngIf="stock.forwardPE">
          <td>PE</td>
          <td>{{ stock.forwardPE }}</td>
        </tr>
        <tr *ngIf="stock.epsForward">
          <td>EPS</td>
          <td>{{ stock.epsForward }}</td>
        </tr>
        <tr *ngIf="stock.fiftyTwoWeekHigh && stock.fiftyTwoWeekLow">
          <td>52 week</td>
          <td>
            Low: {{ stock.fiftyTwoWeekLow }} - High:
            {{ stock.fiftyTwoWeekHigh }}
          </td>
        </tr>
      </tbody>
    </table>

    <app-graph [stock]="stock" [weeks]="4"></app-graph>
  </div>
</ng-template>
