<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">
    <span *ngIf="authService.loggedIn() && user">{{ user.name }}'s </span
    >Stocksboard
  </h1>
  <p class="lead">Your stocks at a glance.</p>

  <hr class="my-4" />

  <div *ngIf="!authService.loggedIn()">
    <a
      class="btn btn-primary btn-md me-2"
      role="button"
      [routerLink]="['login']"
      >Login</a
    >
    <a
      class="btn btn-secondary btn-md"
      role="button"
      [routerLink]="['register']"
      >Register</a
    >
  </div>

  <div *ngIf="authService.loggedIn()">
    <p>
      Go to your <a [routerLink]="['dashboard']">Dashboard</a> to see and manage
      your stocks.
    </p>
  </div>
</div>
