<h1>Dashboard</h1>

<div>
  <form
    (ngSubmit)="onAddNewStockSubmit()"
    class="row row-cols-lg-auto g-3 align-items-center mt-1 mb-4 justify-content-center"
  >
    <div class="col-12">
      <label class="visually-hidden">Add new stock</label>
      <input
        type="text"
        name="symbol"
        placeholder="MSFT, NOK, AAPL..."
        class="form-control"
        [(ngModel)]="symbol"
      />
    </div>
    <div class="col-12">
      <input type="submit" class="btn btn-primary" value="Add Stock" />
    </div>
  </form>

  <app-stocks></app-stocks>
</div>
