<h1>{{title}}</h1>

<form action="/api/members" method="POST" class="mb-4">
<div class="form-group">
  <label for="name">Name</label>
  <input type="text" name="name" class="form-control">
</div>
<div class="form-group">
  <label for="email">Email</label>
  <input type="text" name="email" class="form-control">
</div>
<div class="form-group">
  <label for="password">Password</label>
  <input type="text" name="password" class="form-control">
</div>
<input type="submit" value="Add member" class="btn btn-primary mt-2">
</form>

<h4>Members</h4>

<ul>
  {{#each members}}
    <li>{{this.name}} ({{this.email}})</li>
  {{/each}}
</ul>