<h2>Register</h2>

<form (ngSubmit)="onRegisterSubmit()" #registerForm="ngForm">
  <div class="form-group">
    <label class="form-label">Name</label>
    <input type="text" [(ngModel)]="name" name="name" class="form-control" />
  </div>
  <div class="form-group">
    <label class="form-label">Email</label>
    <input type="text" [(ngModel)]="email" name="email" class="form-control" />
  </div>
  <div class="form-group">
    <label class="form-label">Password</label>
    <input
      type="password"
      [(ngModel)]="password"
      name="password"
      class="form-control"
    />
  </div>

  <input type="submit" class="btn btn-primary mt-2" value="Submit" />
</form>
