<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['']">Frontend</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ms-auto mb-2 mb-md-0">
        <li
          class="nav-item"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" aria-current="page" [routerLink]="['']">Home</a>
        </li>
      </ul>

      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li
          *ngIf="!authService.loggedIn()"
          class="nav-item"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" aria-current="page" [routerLink]="['login']"
            >Login</a
          >
        </li>
        <li *ngIf="authService.loggedIn()" class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            href="#"
            (click)="onLogoutClick()"
            >Logout</a
          >
        </li>
        <li
          *ngIf="!authService.loggedIn()"
          class="nav-item"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" aria-current="page" [routerLink]="['register']"
            >Register</a
          >
        </li>
        <!--FIXME: Active classes do not work in any of the links-->
        <li
          *ngIf="authService.loggedIn()"
          class="nav-item"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" aria-current="page" [routerLink]="['profile']"
            >Profile</a
          >
        </li>

        <li
          *ngIf="authService.loggedIn()"
          class="nav-item"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" aria-current="page" [routerLink]="['dashboard']"
            >Dashboard</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
