<div *ngIf="loading; else graph"><span>Loading...</span></div>

<ng-template #graph>
  <div
    id="{{ stock.symbol }}-chartContainer"
    style="height: 150px; width: 100%; margin-left: auto; margin-right: auto"
  ></div>
</ng-template>
