<div *ngIf="!stocks?.length; else stocksTemplate" class="alert alert-info">
  No stocks. Add a stock, eg. "MSFT", from the above.
</div>

<ng-template #stocksTemplate>
  <div class="container">
    <div class="row justify-content-center">
      <div
        class="card bg-light mb-3 me-3 h-100"
        style="max-width: 18rem"
        *ngFor="let stock of stocks"
      >
        <div class="card-header">
          {{ stock.symbol }}
          <a routerLink="/stock/{{ stock.symbol }}"
            ><i class="fa fa-info-circle float-end btn btn-secondary"></i
          ></a>
          <i
            (click)="onRemoveStockClick(stock.symbol)"
            class="fa fa-trash float-end btn btn-danger me-1"
          ></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ stock.name }} ({{ stock.currency }})</h5>
          <p class="card-text">
            <app-graph [stock]="stock" [weeks]="1"></app-graph>
          </p>
        </div>
      </div>
    </div>
  </div>
</ng-template>
